<div class="container my-5">
    <div class="d-flex pull-right">
        <button type="button" (click)="goToUpdateEmployee(employee.id)" mdbBtn color="danger" mdbWavesEffect>Edit Employee</button>
    </div>
    <table mdbTable bordered="true">
        <thead>
          <tr>
            <th *ngFor="let head of headElements" scope="col">{{head}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol >
            <td>{{employee.name}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.salary}}</td>         
            <td>{{employee.mobile}}</td>
          </tr>
        </tbody>
      </table>
</div>